{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Mon Profile{% endblock %}

{% block contenu %}
<div id="modal1" class="modal">
    <form action="" method="post">
    <div class="modal-content">
        <h4>Modification de mot de passe</h4>
            <div class="input-field col s12">
                <input id="passwordO" type="password" name="passwordO">
                <label for="passwordO">Ancien mot de passe</label>
            </div>
            <div class="input-field">
                <input id="passwordN" type="password" name="passwordN">
                <label for="passwordN">Nouveau mot de passe</label>
            </div>
            <div class="input-field">
                <input id="passwordR" type="password" name="passwordR">
                <label for="passwordR">Répéter le nouveau mot de passe</label>
            </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
        <button type="submit" class="waves-effect btn" name="btnUpdatePswd" disabled>Appliquer</button>
    </div>
    </form>
</div>
{% if otpUri != null %}
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Configuration A2F par OTP</h4>
        <p>
            Clef: {{ session.user.otpKey }}
        </p>
        <img src=" https://api.qrserver.com/v1/create-qr-code/?data={{ otpUri }}">
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>
{% endif %}

<div id="modal3" class="modal">
    <div class="modal-content">
        {% if form.valide is defined %}
		{% if form.valide == true %}
        <div class="container">
			<h3>Ajout réussie !</h3>
        </div>
        {% else %}
        <div class="container">
			<h3>Échec de l'ajout !</h3>
			<h3>{{form.message}}</u></h3>
        </div>            
		{% endif %}
	{% endif %}
        <h4>Ajouter une qualification</h4>
        <p>
        <form method="post">
            <div class="input-field col s6">
                <input id="newQualif" type="text" name="newQualif">              
                <label for="newQualif">Nouvelle qualification:</label>               
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="btAjoutQualif">Ajouter</button>

        </form>
            
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>

<div class="container z-depth-3 white">
    <div class="row mt-5">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#mySpace">Mon espace</a></li>
                <li class="tab col s3"><a href="#mesQualif">Mes qualifications</a></li>
                <li class="tab col s3"><a href="#fichePaie">Mes fiches de paie</a></li>
            </ul>
        </div>
        <div id="mySpace" class="col s12 mt-5">
            {% if error != null %}<h4 class="red-text center-align">{{ error }}</h4>{% endif %}
            <form action="" method="post">
                Nom:
                <div class="input-field inline">
                    <input id="nom" name="nom" type="text" class="modifiable" disabled value="{{ user.nom }}">
                </div>
                Prénom:
                <div class="input-field inline">
                    <input id="prenom" name="prenom" type="text" class="modifiable" disabled value="{{ user.prenom }}">
                </div>
                Email:
                <div class="input-field inline">
                    <input id="email" name="email" type="email" class="modifiable" disabled value="{{ user.email }}">
                </div>
                <div class="input-field inline">
                    <select id="2fa" name="2fa" class="modifiable" disabled>
                        <option {% if session.user.dfaType == 'email' %}selected{% endif %} value="email">Email</option>
                        <option {% if session.user.dfaType == 'otp' %}selected{% endif %} value="otp">OTP</option>
                    </select>
                    <label>Type de double authentification</label>
                </div>
                <br>
                Fonction:
                <div class="input-field inline">
                    <input id="fonction" type="text" disabled value="{{ user.libelle | title }}">
                </div>
                Date d'embauche:
                <div class="input-field inline">
                    <input id="dateEmbauche" type="text" disabled value="{{ user.dateEmbauche | date('d/m/Y') }}">
                </div>

                <button id="modif" class="waves-effect waves-light btn" type="button">Modifier</button>
                <button id="save" class="waves-effect waves-light btn hide" type="submit" name="btnUpdate">Sauvegarder</button>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Changer de mot de passe</a>
                <a class="waves-effect waves-light btn" href="dlDonnees" target="_blank">Télécharger mes données</a>
            </form>
        </div>

        <div id="mesQualif" class="col s12 mt-5">
            <div class="row">
                <form action="" method="post">
                    {% for u in qualification %}
                        <div class="input-field inline col s3 m4">
                            <input name="qualification[]" class="modifiablequalif" type="text" disabled value="{{ u.contenu | capitalize }}">
                        </div>
                    {% endfor %}
                    </br>
            </div>
                    <button id="modifqualif" class="waves-effect waves-light btn" type="button">Modifier mes qualifications</a>
                    <button id="savequalif" class="waves-effect waves-light btn hide" type="submit" name="btnUpdateQualif">Sauvegarder</button>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Ajouter une qualification</a>
                </form>
        </div>

        <div id="fichePaie" class="col s12 mt-5">
            <ul class="collapsible">
            {% for year, months in years|reverse(true) %}
                    <li>
                        <div class="collapsible-header">{{ year }}</div>
                        <div class="collapsible-body">
                            <ul class="collapsible">
                            {% for month, fiche in months %}
                                    <li>
                                        <div class="collapsible-header">{{ month | capitalize }}</div>
                                        <div class="collapsible-body">
                                            <a href="fiche?id={{fiche.id}}">Fiche du {{ fiche.dateEmission | date('d/m/Y') }}</a>
                                        </div>
                                    </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    {% if good != null %}
        M.toast({text: 'Mot de passe mis a jour.'})
    {% endif %}

   var tabs = M.Tabs.init($('.tabs'), {'swipeable': false});

    var elems = document.querySelectorAll('.collapsible');
    var colapsibles = M.Collapsible.init(elems);

    var selectEl = document.getElementById('2fa');
    var select = M.FormSelect.init(selectEl, {
        dropdownOptions: {
            coverTrigger: false,
        },
    });

    var modal = M.Modal.init($('#modal1'));
    var yes = true;

    {% if otpUri != null %}
        var modal2 = M.Modal.init($('#modal2'));
        modal2[0].open();
    {% endif %}
    
    var modal3 = M.Modal.init($('#modal3'));


    $('#modif').click(() => {
        $(".modifiable").each(function( index ) {
            $( this ).prop("disabled",  !$( this ).prop("disabled"));
        });

        select.destroy();
        select = M.FormSelect.init(selectEl, {
            dropdownOptions: {
                coverTrigger: false,
            },
        });

        $('#modif').text(yes ? "annuler" : "modifier");
        $('#save').toggleClass("hide");
        yes = !yes;
    });

    $('#modifqualif').click(() => {
        $(".modifiablequalif").each(function( index ) {
            $( this ).prop("disabled",  !$( this ).prop("disabled"));
        });

        select.destroy();
        select = M.FormSelect.init(selectEl, {
            dropdownOptions: {
                coverTrigger: false,
            },
        });

        $('#modifqualif').text(yes ? "annuler" : "modifier");
        $('#savequalif').toggleClass("hide");
        yes = !yes;
    });
    
});
</script>

<script>

$(document).ready(function() {
    $('#passwordO').change(function() {
        toggleButton();
    });

    $('#passwordN').change(function() {
        toggleButton();
    });

    $('#passwordR').change(function() {
        toggleButton();
    });
});

function isPswdValid(paswd) {
    var numbers = /[0-9]/g;
    var upperCaseLetters = /[A-Z]/g;
    var lowerCaseLetters = /[a-z]/g;
    var specials = /[^a-zA-Z0-9]/g;
    if (paswd != "") {
        if (paswd.match(numbers) && paswd.match(upperCaseLetters) && paswd.match(lowerCaseLetters) && paswd.match(specials) && paswd.length >= 8) {
            return true;
        } else {
            return false;
        }
    } else {
        return false;
    }
}

function toggleButton() {
    var valid = (isPswdValid($('#passwordN').val()) && $('#passwordN').val() == $('#passwordR').val() && $('#passwordO').val() != "")
    $('[name="btnUpdatePswd"]').prop("disabled", !valid);
}
</script>
{% endblock %}