{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Nouvelle fiche de paie{% endblock %}

{% block contenu %}

<style>
fieldset{
    border-bottom: none;
    border-right: none;
    border-left: none;
}
</style>

<div class="container">
<h3 class="center-align"><u>Formulaire de création de fiche de paie</u></h3>
<p>Vous vous apprêtez à créer une fiche de paie pour l'employé que vous avez choisi.<br>
Vous devez rentrer les différentes informations utiles à la création de celle-ci.<br><br>
</p>

<ul class="collection with-header">
    <li class="collection-header"><p>Voici quelques liens utiles à la conception d'une fiche de paie:</p></li>
    <li class="collection-item"><div>Comprendre son bulletin de paie<a href="https://www.gereso.com/actualites/2021/04/15/comprendre-bulletin-paie-differentes-rubriques-taux-assiettes-montants/" class="secondary-content"><i class="material-icons">assignment</i></a></div></li>
    <li class="collection-item"><div>Bulletin de salaire simplifié : Description détaillée<a href="https://www.compta-online.com/bulletin-de-salaire-simplifie-description-detaillee-ao1701" class="secondary-content"><i class="material-icons">insert_comment</i></a></div></li>
    <li class="collection-item"><div>Exemple de fiche de paie : Article de presse<a href="https://www.ruedelapaye.com/e-mag/exemple-fiche-de-paie/" class="secondary-content"><i class="material-icons">description</i></a></div></li>
    <li class="collection-item"><div>Les différents taux<a href="https://www.journaldunet.fr/management/guide-du-management/1110948-charges-sociales-en-2021-taux-assiettes-et-cotisations/" class="secondary-content"><i class="material-icons">control_point</i></a></div></li>
</ul>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">account_circle</i>Taux pour un employé touchant le SMIC à 35h/ semaine</div>
      <div class="collapsible-body"><span>Horaires travaillées: 151.67<br>Taux horaire: 10.2500<br><br><b>COTISATIONS SALARIALES:</b><br>Taux Incapacité: 0.5920<br>Taux Santé: 0.3600<br>Taux Sécu Plafonnée: 6.9000<br>Taux Sécu Déplafonnée: 0.4000<br>Taux 1ere tranche: 4.0100<br>Taux CSG déductible: 6.8000<br>Taux CSG non Déductible: 2.9000<br><br><b>COTISATIONS PATRONALES:</b><br>Maladie Maternité: 0.0703<br>Accidents: 0.0375<br>Famille: 0.0345<br>Chômage: 0.0405<br>Autres contributions: 0.0279<br>Forfait Social: 0.0799<br>Cotisations statutaires: 0.00149<br>Exonération: 0.3205<br>Exonération - Régularisation: 0.00003</span></div>
    </li>
  </ul>

    <div class="row">
        <form class="col s12" method="post">
            <div class="row">
                <h5 class="center-align">Renseignements de l'employé</h5>

                <div class="input-field col s6">
                    <input disabled value="{{ u.nom | upper }}" id="nom" type="text" class="validate">
                    <label for="nom">Nom</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{ u.prenom | capitalize }}" id="prenom" type="text" class="validate">
                    <label for="prenom">Prénom</label>
                </div>
                <div class="input-field col s12">
                    <input disabled value="{{ u.libelle }}" id="libellefonction" type="text" class="validate">
                    <label for="libellefonction">Fonction</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{ u.numSecu }}" id="numSecu" type="text" class="validate">
                    <label for="numSecu">Numéro de Sécurité Sociale</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{ u.dateEmbauche|date('d/m/Y') }}" id="dateEmbauche" type="text" class="validate">
                    <label for="dateEmbauche">Date d'embauche</label>
                </div>


                <h4 class="center-align">Partie d'élaboration de la fiche de paie</h4>
                <h5 class="center-align">Cotisations salariales</h5>
                
                <!--COTISATIONS SALARIALES-->

                <fieldset>
                    <legend>Général</legend>
                    <div class="input-field col s6">
                        <input name="heuresPayees" id="heuresPayees" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.heuresPayees }}">
                        <label for="heuresPayees">Heures payées</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="tauxHoraire" id="tauxHoraire" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxHoraire }}">
                        <label for="tauxHoraire">Taux horaire</label>
                    </div>                 
                    <div class="input-field col s6">
                        <input name="dateDebutPaie" id="dateDebutPaie" type="date" class="validate" value="{{ form.last.dateDebutPaie }}">
                        <label for="dateDebutPaie">Date début de paie</label>
                    </div>                  
                    <div class="input-field col s6">
                        <input name="dateFinPaie" id="dateFinPaie" type="date" class="validate" value="{{ form.last.dateFinPaie }}">
                        <label for="dateFinPaie">Date fin de paie</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Santé</legend>
                    <div class="input-field col s6">
                        <input name="tauxCompIncap" id="tauxCompIncap" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxCompIncap }}">
                        <label for="tauxCompIncap">Taux Complémentaire Incapacité</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="tauxCompSante" id="tauxCompSante" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxCompSante }}">
                        <label for="tauxCompSante">Taux Complémentaire Santé</label>
                    </div> 
                </fieldset>

                <fieldset>
                    <legend>Retraite</legend>
                    <div class="input-field col s6">
                        <input name="tauxSecuPla" id="tauxSecuPla" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxSecuPla }}">
                        <label for="tauxSecuPla">Taux Sécurité Sociale Plafonnée</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="tauxSecuDepla" id="tauxSecuDepla" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxSecuDepla }}">
                        <label for="tauxSecuDepla">Taux Sécurité Sociale Déplafonnée</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="tauxCompTrancheFirst" id="tauxCompTrancheFirst" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxCompTrancheFirst }}">
                        <label for="tauxCompTrancheFirst">Taux Complémentaire 1ère Tranche</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>CSG/CRDS</legend>
                    <div class="input-field col s12">
                        <input name="tauxCSGDeducIR" id="tauxCSGDeducIR" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxCSGDeducIR }}">
                        <label for="tauxCSGDeducIR">Taux CSG Déductible de l'IR</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="tauxCSGnonDeducIR" id="tauxCSGnonDeducIR" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.tauxCSGnonDeducIR }}">
                        <label for="tauxCSGnonDeducIR">Taux CSG/CRDS non Déductible de l'IR</label>
                    </div>
                </fieldset>
                
                <!--COTISATIONS PATRONALES-->
                
                <h5 class="center-align">Cotisations patronales</h5>

                <fieldset>
                    <legend>Santé</legend>
                    <div class="input-field col s12">
                        <input name="secuMaladie" id="secuMaladie" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.secuMaladie }}">
                        <label for="secuMaladie">Sécurité Sociale - Maladie Mater Inval Décès</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Accidents du travail/Maladies professionnelles</legend>
                    <div class="input-field col s12">
                        <input name="accidentTra" id="accidentTra" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.accidentTra }}">
                        <label for="accidentTra">Accidents du travail/Maladies professionnelles</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Famille - Sécurité Sociale</legend>
                    <div class="input-field col s12">
                        <input name="famille" id="famille" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.famille }}">
                        <label for="famille">Famille</label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Assurance Chômage</legend>
                    <div class="input-field col s12">
                        <input name="chomage" id="chomage" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.chomage }}">
                        <label for="chomage">Chômage</label>
                    </div>
                
                </fieldset>

                <fieldset>
                    <legend>Autres contributions dues par l'employeur</legend>
                    <div class="input-field col s6">
                        <input name="autresContrib" id="autresContrib" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.autresContrib }}">
                        <label for="autresContrib">Autres contributions</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="prevoyance" id="prevoyance" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.prevoyance }}">
                        <label for="prevoyance">Forfait Social prévoyance</label>
                    </div>                
                </fieldset>

                <fieldset>
                    <legend>Cotisations statutaires ou prévues par la convention</legend>
                    <div class="input-field col s12">
                        <input name="cotisStat" id="cotisStat" type="number" min="0" step="0.00001" class="validate" value="{{ form.last.cotisStat }}">
                        <label for="cotisStat">Cotisations statutaires ou prévues par la convention</label>
                    </div>                
                </fieldset>

                <fieldset>
                    <legend>Allègement de cotisations</legend>
                    <div class="input-field col s6">
                        <input name="exoEmp" id="exoEmp" type="number" min="0" step="0.0001" class="validate" value="{{ form.last.exoEmp }}">
                        <label for="exoEmp">Exonération de cotisations employeur</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="exoRegul" id="exoRegul" type="number" min="0" step="0.00001" class="validate" value="{{ form.last.exoRegul }}">
                        <label for="exoRegul">Exonération de cotisations employeur - Régularisation</label>
                    </div>                
                </fieldset>
                
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Créer la fiche de paie</a>

                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Confirmation de création de fiche de paie</h4>
                        <p>Êtes-vous sûr de vouloir créer la fiche de paie ?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Annuler la création</a>
                        <button class="btn waves-effect waves-light" type="submit" name="btCreer">Oui, créer la fiche de paie
                            <i class="material-icons right">send</i>
                        </button> 
                    </div>
                </div>
            </div>    
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('.collapsible').collapsible();
  });
</script>

{% endblock %}