<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container">
    <!--header-->
    <div class="row">
        <div class="col s6">
            <div class="title">
                <h4>FICHE DE PAIE</h4>
            </div>
            <p class="center-align">Paie de var.debutPaieMoinsUn au var.finPaieMoinsUn</p><br>
            <p class="info-salarie">
            Matricule: var.user.id<br>
            Numéro SS: var.user.numSecu<br>
            Emploi: {{ user.libelle }}<br>
            Qualif: {{ user.libelle }}<br>
            Indice: Indice<br>
            Date début ancienneté: {{ user.dateEmbauche | date('d/m/Y') }}<br>
            Heures payées: var.heuresPayees<br>
            Entrée: var.user.dateEmbauche<br>
            Sortie: <br>
            </p>
        </div>

        <div class="col s6">           
            <p class="info-entreprise">
                <img class="responsive-img" src="images/logo.jpeg"><br>
            Nom de l'entreprise: <b>SIMPLEDUC SAS</b><br>
            SIRET: <br>
            URSAFF: <br>
            ORG. SS: <br>
            APE: <br>
            </p>
            <br>
            <p class="center-align">Nom de l'employé: {{ user.nom }}</p>
            <p class="center-align">Prénom de l'employé: {{ user.prenom }}</p><br>
        </div>
    </div>

    <!--corps de la FDP-->
    <div class="row">
        <div class="col s12">
            <table class="corpsFDP">
                <thead>
                    <tr class="headFDP">
                        <th scope="col">Rubrique</th>
                        <th class="right-align" scope="col">Quantité<br>Ou base</th>
                        <th class="right-align" scope="col">Taux</th>
                        <th class="right-align" scope="col">A déduire</th>
                        <th class="right-align" scope="col">A payer</th>
                        <th class="right-align" scope="col">Charges patronales<br>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left-align sous-titre">Salaire</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxH</td>
                        <td class="right-align"></td>
                        <td class="right-align">var.Qtebase + tauxH</td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><b>TOTAL BRUT</b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"><b>var.totalBrut</b></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><b><u>SANTE</u></b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Sécurité sociale - Maladie Maternité Invalidité Décès</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align">Complémentaire Incap. Inva. Décès</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxIncap</td>
                        <td class="right-align">à deduire</td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align">Complémentaire Santé</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxSante</td>
                        <td class="right-align">a deduire</td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>ACCIDENTS DU TRAVAIL - MALADIES PRO</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Accidents du Travail - Maladies Pro</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>RETRAITE</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>                                        
                    <tr>
                        <td class="left-align">Sécurité Sociale plafonnée</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxSecuPla</td>
                        <td class="right-align">a déduire</td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align">Sécurité Sociale déplafonnée</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxSecuDepla</td>
                        <td class="right-align">a déduire</td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align">Complémentaire Tranche 1</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxCompTrancheFirst</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>FAMILLE - SECURITE SOCIALE</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Famille</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">var.tauxFamille</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>ASSURANCE CHÔMAGE</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Chômage</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a déduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>AUTRES CONTRIBUTIONS DUES PAR L'EMPLOYEUR</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Autres contributions dues par l'employeur</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a déduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align">Forfait social prévoyance</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                   <tr>
                        <td class="left-align sous-titre"><u>COTISATIONS STATUTAIRES PREVUES PAR LA CONVENTION</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>                    
                    <tr>
                        <td class="left-align">Cotisation statutaires prévues par la convention</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>CSG NON IMPOSABLE A L'IMPÔT SUR LE REVENU</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">CSG déductible de l'impôt sur le revenu</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxCSGDeducIR</td>
                        <td class="right-align">a deduire</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>ALLEGEMENT DE COTISATIONS</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Exonérations de cotisations employeur</td>
                        <td class="right-align">base</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align">Exonérations de cotisations employeur - Régularisation</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">a deduire patronales</td>
                    </tr>
                    <tr>
                        <td class="left-align sous-titre"><u>CSG/CRDS IMPOSABLES A L'IMPÔT SUR LE REVENU</u></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">CSG/CRDS non déductible de l'impôt sur le revenu</td>
                        <td class="right-align">base</td>
                        <td class="right-align">var.tauxCSGnonDeduc</td>
                        <td class="right-align">a deduire</td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align"><b>TOTAL DES COTISATIONS ET CONTRIBUTIONS</b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">toutes cotis salarie</td>
                        <td class="right-align"></td>
                        <td class="right-align">toutes cotis emp</td>
                    </tr>
                    <tr>
                        <td class="left-align"><b>NET IMPOSABLE</b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">total brut - cotis salarie</td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align"><b>NET IMPOSABLE AVANT IMPÔT SUR LE REVENU</b></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align"></td>
                        <td class="right-align">total brut - cotis salarie</td>
                        <td class="right-align"></td>
                    </tr>
                    <tr>
                        <td class="left-align">Dont évolution de la rémunération liée à la suppression des cotisations salariales chômage et maladie</td>
                        <td class="right-align">base</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>                                          
                </tbody>
            </table>
        </div>
    </div>


    <!--ligne IS-->
    <div class="row">
        <div class="col s12">
            <table class="corpsFDP">
                <thead>
                    <tr class="headFDP">
                        <th class="center-align sous-titre" scope="col"><b>Impôt sur le revenu</b></th>
                        <th class="center-align sous-titre" scope="col"><b>Base</b></th>
                        <th class="center-align sous-titre" scope="col"><b>Taux personnalisé</b></th>
                        <th class="center-align sous-titre" scope="col"><b>Montant</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center-align">Salaire</td>
                        <td class="center-align">base</td>
                        <td class="center-align">var.tauxH</td>
                        <td class="center-align">montant</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>

    <!--ligne date paiement et net à payer-->
    <div class="row">
        <div class="col s12">
            <p>Pour plus d'informations sur le bulletin clarifié: <a href="https://www.service-public.fr/">https://service-public.fr</a> || Mode de paiement: Virement</p>
            <p></p>
            <p><b>NET A PAYER: var</b></p>
        </div>
    </div>
</div>
</body>
</html>